<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
        var timerStart = Date.now();
        console.log('Page Load:' + timerStart)
        var uniq_session = timerStart;

        var cookie = getCookie('uid');
        var uniq_session = cookie;

        if(cookie == '' || cookie == null) {
          var uid = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 12);
          console.log('uid:' + uid)
          setCookie('uid', uid,  40)
          cookie = getCookie('uid');
          uniq_session = cookie;
        }
        function setCookie(cname, cvalue, exdays) {
          var d = new Date();
          d.setTime(d.getTime() + (exdays*24*60*60*1000));
          var expires = "expires="+ d.toUTCString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
          var name = cname + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for(var i = 0; i <ca.length; i++) {
              var c = ca[i];
              while (c.charAt(0) == ' ') {
                  c = c.substring(1);
              }
              if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
              }
          }
          return "";
        }

        console.log('version B: cookie:' + cookie)

    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: Feel free to modify anything inside main.css-->
    <!-- TODO: You can even have a new/different css for Version B -->
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Find Memphis Taxis online</title>
  </head>

  <body>
    <header>
      <h1>Memphis Taxis by Team Chill Vibes</h1> <!-- TODO: Add your team name here. -->
        <!-- Some of the ideas could be, making it pretty, making it look real, make it look reliable
            choosing attractive image etc, showing that your taxis are cheaper than X/Y..
            Show your juice of creativity.

            At a minimum, we atleast require you change the name of buttons.
             -->
        <!-- TODO: For those tech savvy users, feel free to beautify the site, using css. -->
         <!-- TODO: Feel free to update the content -->
      <p>Chill vibes only</p>
    </header>
    <div id="vendors">
      <div class="vendor-wrapper">
          <!--TODO: Change the image -->
        <img src="/static/yellow.png" class="vendor-photo" />
         <p>Yellow Cab of Memphis traces its roots to 1856 when Patterson Transfer operated horse drawn omnibuses between the four train stations transporting passengers and their luggage for connections to trains serving other destinations in America. Patterson Transfer evolved over the years into two separate companies, Patterson Warehouses, Inc. and Yellow Cab of Memphis, both of which still operate in Memphis.
Today, Yellow Cab and sister company, Checker Cab use a computerized dispatching system (the first company to do so in the Mid-South) employing global positioning technology (GPS). This system makes for quicker response time by assuring the closest cab is dispatched. This minimizes wasted miles, wasted fuel and air pollution in addition to the added safety features of the dispatcher always knowing the location of every cab. With this system, our customer service representatives can estimate the taxi fare for any customer, so long as we have accurate pick-up and drop-off addresses. Also, the system allows drivers to call the customer giving them the current arrival time.
</p>
         <button class="vendor-book-button btn btn-primary" type="submit" id="mp1">Reserve</button>
      </div>

      <div class="vendor-wrapper">
          <!--TODO: Change the image -->
        <img src="/static/ridecharge.png" class="vendor-photo" />
         <p>Our drivers are the most professional drivers in the industry. Our drivers are licensed and required to successfully complete a formal training. They attend multiple courses, and must pass all of them. Now, when we say safe, we don’t just mean safe, we mean really, truly safe. Every car in our fleet is certified 3 green stars by the EPA, even our limousines and luxury vehicles. The choice of Memphis legends Zach Randolph and Marc Gasol, Ride Share is the official transportation sponsor of the Memphis Grizzlies.</p>
        <button class="vendor-book-button btn btn-primary" type="submit" id="mp2">Reserve</button>
      </div>

       <div class="vendor-wrapper">
      <img src="/static/uber.png" class="vendor-photo" />
       <p>Uber Technologies Inc. is an American private hire company headquartered in San Francisco, California, United States, operating in 633 cities worldwide. It develops, markets and operates the Uber car transportation and food delivery mobile apps. Uber drivers use their own cars although drivers can rent a car to drive with Uber. - Wikipedia. We are so much cheaper than taxis..! </p>
       <button class="vendor-book-button btn btn-primary" type="submit" id="mp3">Reserve</button>
      </div>

      <div class="vendor-wrapper">
        <img src="http://premierofmemphis.com/wp-content/uploads/2013/07/Premier-Medium-300x127.png" class="vendor-photo" />
         <p>Our goal is to efficiently transport our passengers in a safe, polite and timely manner at a fair price. Trusted in the Memphis area since 1981, Premier is the number one choice for concierges, managers, entertainers, and anyone else in the Memphis metro needing to get around. Our drivers have been voted the best by Memphis magazine for 3 years running.</p>
        <button class="vendor-book-button btn btn-primary" type="submit" id="mp4">Reserve</button>
      </div>
    </div>
    <footer>
      <p>Not endorsed by any of the companies listed, or the city of Memphis. Not fact checked.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        var timeLoaded = Date.now()
          $(document).ready(function() {
            timeLoaded =  Date.now();
            console.log('Page Load:' + timeLoaded)
            sendData(timeLoaded, 0.0, 0.0, uniq_session)
          });

        $("#mp1").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp1'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              // TODO: Feel free to make this point to different site
              window.location.href = "http://www.yellowcabofmemphis.com/"
        })


        $("#mp2").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp2'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              // TODO: Feel free to make this point to different site
              window.location.href = "https://www.ridecharge.com/s/tn-memphis/taxi-sedan-limo-shuttle"
        })

          $("#mp3").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp3'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              // TODO: Feel free to make this point to different site
              window.location.href = "https://www.uber.com/cities/memphis/"
        })

            $("#mp4").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp4'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              // TODO: Feel free to make this point to different site
              window.location.href = "https://premierofmemphis.com/contact-us/"
        })


        function sendData(timeLoaded, clickTime, clickObjectID, cook){
              var dataObj = { 'version': 'B', 'pageLoadTime': timeLoaded , 'clickTime': clickTime , 'HtmlElementID': clickObjectID, 'UniqueSession' :uniq_session};
              console.log(JSON.stringify(dataObj))
               $.ajax({
                   type: 'POST',
                    url: '/data',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(dataObj),
                    success: function(callback) {
                        console.log(callback);
                    },
                    error: function() {
                        $(this).html("error!");
                    }
              });
        }
     </script>
  </body>
</html>
